<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eDirectoryBasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59082/CustomerWcfService.svc/CustomerServices"
          binding="basicHttpBinding"
          bindingConfiguration="eDirectoryBasicHttpBinding"
          contract="eDirectory.Common.ServiceContract.ICustomerService" name="BasicHttpBinding_ICustomerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>      
    </client>
  </system.serviceModel>
</configuration>